<?xml version="1.0"?>
<!--
  ~ @package      Webcode_Glami
  ~
  ~ @author       Webcode, Kostadin Bashev (bashev@webcode.bg)
  ~ @copyright    Copyright © 2021 GLAMI Inspigroup s.r.o.
  ~ @license      See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <glami>
            <general>
                <enabled>0</enabled>
                <locale>eco</locale>
            </general>
            <feed>
                <manufacturer>manufacturer</manufacturer>
                <size>size</size>
                <cron>55 * * * *</cron>
            </feed>
            <tracking>
                <enabled>0</enabled>
                <utm_source>glami</utm_source>
            </tracking>
        </glami>
    </default>
</config>
