<?xml version="1.0"?>
<!--
  ~ @package      Webcode_Glami
  ~
  ~ @author       Webcode, Kostadin Bashev (bashev@webcode.bg)
  ~ @copyright    Copyright © 2021 GLAMI Inspigroup s.r.o.
  ~ @license      See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="webcode_glami_generate_feed" xsi:type="object">Webcode\Glami\Console\Command\GenerateFeed</item>
            </argument>
        </arguments>
    </type>
    <type name="Webcode\Glami\Helper\Data">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Webcode\Glami\Service\GenerateFeed">
        <arguments>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
            <argument name="StockResolver" xsi:type="object">Magento\InventorySalesApi\Api\StockResolverInterface\Proxy</argument>
            <argument name="AreProductsSalable" xsi:type="object">Magento\InventorySalesApi\Api\AreProductsSalableInterface\Proxy</argument>
        </arguments>
    </type>
</config>
