<?xml version="1.0"?>
<!--
  ~ @package      Webcode_Glami
  ~
  ~ @author       Webcode, Kostadin Bashev (bashev@webcode.bg)
  ~ @copyright    Copyright © 2021 GLAMI Inspigroup s.r.o.
  ~ @license      See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_add_product_complete">
        <observer name="glami-add-to-cart" instance="Webcode\Glami\Observer\AddToCart" />
    </event>
</config>
